Repository blitzy-public-samples/arkimedes-web-scrape-ggqkgy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-backend-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @security-architects, @scraping-team, @performance-team, @devops-team, @infrastructure-leads, @database-team, @data-architects, @technical-writers, @qa-team, @api-team, @data-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-maintainers 
# will be requested for review when someone opens a pull request.
*       @project-maintainers

# Backend service code ownership
src/backend/**    @backend-team @senior-backend-engineers

# Frontend application code ownership
src/web/**    @frontend-team @senior-frontend-engineers

# Security implementation with mandatory security team review
src/backend/src/api/core/security/**    @security-team @senior-backend-engineers @security-architects

# Web scraping engine with performance considerations
src/backend/src/scraper/**    @scraping-team @senior-backend-engineers @performance-team

# Infrastructure and deployment configuration
infrastructure/**    @devops-team @infrastructure-leads @security-architects

# Database migrations requiring data architect review
src/backend/src/db/migrations/**    @database-team @senior-backend-engineers @data-architects

# Security-specific files requiring multiple security team reviews
src/**/security.py    @security-team @senior-backend-engineers @security-architects

# Secret management requiring both security and DevOps review
infrastructure/kubernetes/secrets/**    @security-team @devops-team @security-architects @infrastructure-leads

# Workflow files should be reviewed by DevOps and respective teams
.github/workflows/backend-ci.yml    @devops-team @backend-team @senior-backend-engineers
.github/workflows/frontend-ci.yml    @devops-team @frontend-team @senior-frontend-engineers
.github/workflows/security-scan.yml    @devops-team @security-team @security-architects

# Documentation changes should be reviewed by technical writers and respective teams
docs/**    @technical-writers @project-maintainers

# Test files should be reviewed by QA team and respective developers
src/**/tests/**    @qa-team @backend-team @frontend-team

# API specification files require review from API team and architects
src/**/api/**    @api-team @backend-team @senior-backend-engineers

# Performance-critical components require review from performance team
src/**/performance/**    @performance-team @senior-backend-engineers

# Data processing components require review from data team
src/**/data/**    @data-team @senior-backend-engineers @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/scripts/deploy-logging.sh
  infrastructure/scripts/deploy-logging.sh
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/scripts/deploy-monitoring.sh
  infrastructure/scripts/deploy-monitoring.sh
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/scripts/init-cluster.sh
  infrastructure/scripts/init-cluster.sh
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/scripts/rotate-credentials.sh
  infrastructure/scripts/rotate-credentials.sh
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/cloudwatch.tf
  infrastructure/terraform/aws/cloudwatch.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/documentdb.tf
  infrastructure/terraform/aws/documentdb.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/iam.tf
  infrastructure/terraform/aws/iam.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/setup.cfg
  src/backend/setup.cfg
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/__init__.py
  src/backend/src/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/__init__.py
  src/backend/src/api/__init__.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/server.py
  src/backend/src/api/server.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/auth/__init__.py
  src/backend/src/api/auth/__init__.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/auth/handlers.py
  src/backend/src/api/auth/handlers.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/auth/models.py
  src/backend/src/api/auth/models.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/auth/schemas.py
  src/backend/src/api/auth/schemas.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/core/__init__.py
  src/backend/src/api/core/__init__.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/core/config.py
  src/backend/src/api/core/config.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/core/dependencies.py
  src/backend/src/api/core/dependencies.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/core/exceptions.py
  src/backend/src/api/core/exceptions.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/core/logging.py
  src/backend/src/api/core/logging.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/core/middleware.py
  src/backend/src/api/core/middleware.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/core/security.py
  src/backend/src/api/core/security.py
Owners: @api-team, @backend-team, @senior-backend-engineers
