Repository blitzy-public-samples/arkimedes-web-scrape-ggqkgy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-backend-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @security-architects, @scraping-team, @performance-team, @devops-team, @infrastructure-leads, @database-team, @data-architects, @technical-writers, @qa-team, @api-team, @data-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/routes/__init__.py
  src/backend/src/api/routes/__init__.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/routes/data.py
  src/backend/src/api/routes/data.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/routes/health.py
  src/backend/src/api/routes/health.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/routes/metrics.py
  src/backend/src/api/routes/metrics.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/routes/tasks.py
  src/backend/src/api/routes/tasks.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/schemas/__init__.py
  src/backend/src/api/schemas/__init__.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/schemas/data.py
  src/backend/src/api/schemas/data.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/api/schemas/tasks.py
  src/backend/src/api/schemas/tasks.py
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/__init__.py
  src/backend/src/db/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/session.py
  src/backend/src/db/session.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/migrations/README.md
  src/backend/src/db/migrations/README.md
Owners: @database-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/migrations/env.py
  src/backend/src/db/migrations/env.py
Owners: @database-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/migrations/script.py.mako
  src/backend/src/db/migrations/script.py.mako
Owners: @database-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/migrations/versions/.gitkeep
  src/backend/src/db/migrations/versions/.gitkeep
Owners: @database-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/models/__init__.py
  src/backend/src/db/models/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/models/data.py
  src/backend/src/db/models/data.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/models/execution.py
  src/backend/src/db/models/execution.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/models/task.py
  src/backend/src/db/models/task.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/db/models/user.py
  src/backend/src/db/models/user.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/__init__.py
  src/backend/src/scraper/__init__.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/config.py
  src/backend/src/scraper/config.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/scheduler.py
  src/backend/src/scraper/scheduler.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/browser/__init__.py
  src/backend/src/scraper/browser/__init__.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/browser/manager.py
  src/backend/src/scraper/browser/manager.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/browser/playwright.py
  src/backend/src/scraper/browser/playwright.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/extractors/__init__.py
  src/backend/src/scraper/extractors/__init__.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/extractors/base.py
  src/backend/src/scraper/extractors/base.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/extractors/html.py
  src/backend/src/scraper/extractors/html.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/extractors/json.py
  src/backend/src/scraper/extractors/json.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/extractors/xml.py
  src/backend/src/scraper/extractors/xml.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/middleware/__init__.py
  src/backend/src/scraper/middleware/__init__.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/middleware/auth.py
  src/backend/src/scraper/middleware/auth.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/middleware/proxy.py
  src/backend/src/scraper/middleware/proxy.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/middleware/rate_limit.py
  src/backend/src/scraper/middleware/rate_limit.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/pipeline/__init__.py
  src/backend/src/scraper/pipeline/__init__.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/pipeline/cleaner.py
  src/backend/src/scraper/pipeline/cleaner.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/pipeline/processor.py
  src/backend/src/scraper/pipeline/processor.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/pipeline/transformer.py
  src/backend/src/scraper/pipeline/transformer.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/scraper/pipeline/validator.py
  src/backend/src/scraper/pipeline/validator.py
Owners: @scraping-team, @senior-backend-engineers, @performance-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/services/__init__.py
  src/backend/src/services/__init__.py
Owners: @backend-team, @senior-backend-engineers

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-maintainers 
# will be requested for review when someone opens a pull request.
*       @project-maintainers

# Backend service code ownership
src/backend/**    @backend-team @senior-backend-engineers

# Frontend application code ownership
src/web/**    @frontend-team @senior-frontend-engineers

# Security implementation with mandatory security team review
src/backend/src/api/core/security/**    @security-team @senior-backend-engineers @security-architects

# Web scraping engine with performance considerations
src/backend/src/scraper/**    @scraping-team @senior-backend-engineers @performance-team

# Infrastructure and deployment configuration
infrastructure/**    @devops-team @infrastructure-leads @security-architects

# Database migrations requiring data architect review
src/backend/src/db/migrations/**    @database-team @senior-backend-engineers @data-architects

# Security-specific files requiring multiple security team reviews
src/**/security.py    @security-team @senior-backend-engineers @security-architects

# Secret management requiring both security and DevOps review
infrastructure/kubernetes/secrets/**    @security-team @devops-team @security-architects @infrastructure-leads

# Workflow files should be reviewed by DevOps and respective teams
.github/workflows/backend-ci.yml    @devops-team @backend-team @senior-backend-engineers
.github/workflows/frontend-ci.yml    @devops-team @frontend-team @senior-frontend-engineers
.github/workflows/security-scan.yml    @devops-team @security-team @security-architects

# Documentation changes should be reviewed by technical writers and respective teams
docs/**    @technical-writers @project-maintainers

# Test files should be reviewed by QA team and respective developers
src/**/tests/**    @qa-team @backend-team @frontend-team

# API specification files require review from API team and architects
src/**/api/**    @api-team @backend-team @senior-backend-engineers

# Performance-critical components require review from performance team
src/**/performance/**    @performance-team @senior-backend-engineers

# Data processing components require review from data team
src/**/data/**    @data-team @senior-backend-engineers @data-architects
