Repository blitzy-public-samples/arkimedes-web-scrape-ggqkgy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-backend-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @security-architects, @scraping-team, @performance-team, @devops-team, @infrastructure-leads, @database-team, @data-architects, @technical-writers, @qa-team, @api-team, @data-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/store/dataSlice.ts
  src/web/src/store/dataSlice.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/store/index.ts
  src/web/src/store/index.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/store/settingsSlice.ts
  src/web/src/store/settingsSlice.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/store/taskSlice.ts
  src/web/src/store/taskSlice.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/styles/global.css
  src/web/src/styles/global.css
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/styles/theme.ts
  src/web/src/styles/theme.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/types/api.ts
  src/web/src/types/api.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/types/auth.ts
  src/web/src/types/auth.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/types/common.ts
  src/web/src/types/common.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/types/data.ts
  src/web/src/types/data.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/types/settings.ts
  src/web/src/types/settings.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/types/task.ts
  src/web/src/types/task.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/utils/api.ts
  src/web/src/utils/api.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/utils/auth.ts
  src/web/src/utils/auth.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/utils/date.ts
  src/web/src/utils/date.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/utils/format.ts
  src/web/src/utils/format.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/utils/storage.ts
  src/web/src/utils/storage.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/utils/validation.ts
  src/web/src/utils/validation.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/validation/auth.ts
  src/web/src/validation/auth.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/validation/data.ts
  src/web/src/validation/data.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/validation/settings.ts
  src/web/src/validation/settings.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/validation/task.ts
  src/web/src/validation/task.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/setup.ts
  src/web/tests/setup.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/components/auth/LoginForm.test.tsx
  src/web/tests/components/auth/LoginForm.test.tsx
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/components/common/ErrorBoundary.test.tsx
  src/web/tests/components/common/ErrorBoundary.test.tsx
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/components/dashboard/SystemHealth.test.tsx
  src/web/tests/components/dashboard/SystemHealth.test.tsx
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/components/data/DataExplorer.test.tsx
  src/web/tests/components/data/DataExplorer.test.tsx
Owners: @data-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/components/tasks/TaskForm.test.tsx
  src/web/tests/components/tasks/TaskForm.test.tsx
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/hooks/useApi.test.ts
  src/web/tests/hooks/useApi.test.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/services/api.test.ts
  src/web/tests/services/api.test.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/store/authSlice.test.ts
  src/web/tests/store/authSlice.test.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tests/utils/validation.test.ts
  src/web/tests/utils/validation.test.ts
Owners: @qa-team, @backend-team, @frontend-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-maintainers 
# will be requested for review when someone opens a pull request.
*       @project-maintainers

# Backend service code ownership
src/backend/**    @backend-team @senior-backend-engineers

# Frontend application code ownership
src/web/**    @frontend-team @senior-frontend-engineers

# Security implementation with mandatory security team review
src/backend/src/api/core/security/**    @security-team @senior-backend-engineers @security-architects

# Web scraping engine with performance considerations
src/backend/src/scraper/**    @scraping-team @senior-backend-engineers @performance-team

# Infrastructure and deployment configuration
infrastructure/**    @devops-team @infrastructure-leads @security-architects

# Database migrations requiring data architect review
src/backend/src/db/migrations/**    @database-team @senior-backend-engineers @data-architects

# Security-specific files requiring multiple security team reviews
src/**/security.py    @security-team @senior-backend-engineers @security-architects

# Secret management requiring both security and DevOps review
infrastructure/kubernetes/secrets/**    @security-team @devops-team @security-architects @infrastructure-leads

# Workflow files should be reviewed by DevOps and respective teams
.github/workflows/backend-ci.yml    @devops-team @backend-team @senior-backend-engineers
.github/workflows/frontend-ci.yml    @devops-team @frontend-team @senior-frontend-engineers
.github/workflows/security-scan.yml    @devops-team @security-team @security-architects

# Documentation changes should be reviewed by technical writers and respective teams
docs/**    @technical-writers @project-maintainers

# Test files should be reviewed by QA team and respective developers
src/**/tests/**    @qa-team @backend-team @frontend-team

# API specification files require review from API team and architects
src/**/api/**    @api-team @backend-team @senior-backend-engineers

# Performance-critical components require review from performance team
src/**/performance/**    @performance-team @senior-backend-engineers

# Data processing components require review from data team
src/**/data/**    @data-team @senior-backend-engineers @data-architects
