Repository blitzy-public-samples/arkimedes-web-scrape-ggqkgy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-backend-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @security-architects, @scraping-team, @performance-team, @devops-team, @infrastructure-leads, @database-team, @data-architects, @technical-writers, @qa-team, @api-team, @data-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/services/auth.py
  src/backend/src/services/auth.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/services/cache.py
  src/backend/src/services/cache.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/services/metrics.py
  src/backend/src/services/metrics.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/services/proxy.py
  src/backend/src/services/proxy.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/services/storage.py
  src/backend/src/services/storage.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/services/task.py
  src/backend/src/services/task.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/utils/__init__.py
  src/backend/src/utils/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/utils/concurrency.py
  src/backend/src/utils/concurrency.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/utils/encryption.py
  src/backend/src/utils/encryption.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/utils/logging.py
  src/backend/src/utils/logging.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/utils/retry.py
  src/backend/src/utils/retry.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/src/utils/validation.py
  src/backend/src/utils/validation.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/integration/__init__.py
  src/backend/tests/integration/__init__.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/integration/test_api.py
  src/backend/tests/integration/test_api.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/integration/test_scraper.py
  src/backend/tests/integration/test_scraper.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/unit/__init__.py
  src/backend/tests/unit/__init__.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/unit/test_extractors.py
  src/backend/tests/unit/test_extractors.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/unit/test_pipeline.py
  src/backend/tests/unit/test_pipeline.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/unit/test_scheduler.py
  src/backend/tests/unit/test_scheduler.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/unit/test_services.py
  src/backend/tests/unit/test_services.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/backend/tests/unit/test_utils.py
  src/backend/tests/unit/test_utils.py
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/pnpm-lock.yaml
  src/web/pnpm-lock.yaml
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/public/logo192.png
  src/web/public/logo192.png
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/public/logo512.png
  src/web/public/logo512.png
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team, @senior-frontend-engineers

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-maintainers 
# will be requested for review when someone opens a pull request.
*       @project-maintainers

# Backend service code ownership
src/backend/**    @backend-team @senior-backend-engineers

# Frontend application code ownership
src/web/**    @frontend-team @senior-frontend-engineers

# Security implementation with mandatory security team review
src/backend/src/api/core/security/**    @security-team @senior-backend-engineers @security-architects

# Web scraping engine with performance considerations
src/backend/src/scraper/**    @scraping-team @senior-backend-engineers @performance-team

# Infrastructure and deployment configuration
infrastructure/**    @devops-team @infrastructure-leads @security-architects

# Database migrations requiring data architect review
src/backend/src/db/migrations/**    @database-team @senior-backend-engineers @data-architects

# Security-specific files requiring multiple security team reviews
src/**/security.py    @security-team @senior-backend-engineers @security-architects

# Secret management requiring both security and DevOps review
infrastructure/kubernetes/secrets/**    @security-team @devops-team @security-architects @infrastructure-leads

# Workflow files should be reviewed by DevOps and respective teams
.github/workflows/backend-ci.yml    @devops-team @backend-team @senior-backend-engineers
.github/workflows/frontend-ci.yml    @devops-team @frontend-team @senior-frontend-engineers
.github/workflows/security-scan.yml    @devops-team @security-team @security-architects

# Documentation changes should be reviewed by technical writers and respective teams
docs/**    @technical-writers @project-maintainers

# Test files should be reviewed by QA team and respective developers
src/**/tests/**    @qa-team @backend-team @frontend-team

# API specification files require review from API team and architects
src/**/api/**    @api-team @backend-team @senior-backend-engineers

# Performance-critical components require review from performance team
src/**/performance/**    @performance-team @senior-backend-engineers

# Data processing components require review from data team
src/**/data/**    @data-team @senior-backend-engineers @data-architects
