Repository blitzy-public-samples/arkimedes-web-scrape-ggqkgy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-backend-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @security-architects, @scraping-team, @performance-team, @devops-team, @infrastructure-leads, @database-team, @data-architects, @technical-writers, @qa-team, @api-team, @data-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-maintainers 
# will be requested for review when someone opens a pull request.
*       @project-maintainers

# Backend service code ownership
src/backend/**    @backend-team @senior-backend-engineers

# Frontend application code ownership
src/web/**    @frontend-team @senior-frontend-engineers

# Security implementation with mandatory security team review
src/backend/src/api/core/security/**    @security-team @senior-backend-engineers @security-architects

# Web scraping engine with performance considerations
src/backend/src/scraper/**    @scraping-team @senior-backend-engineers @performance-team

# Infrastructure and deployment configuration
infrastructure/**    @devops-team @infrastructure-leads @security-architects

# Database migrations requiring data architect review
src/backend/src/db/migrations/**    @database-team @senior-backend-engineers @data-architects

# Security-specific files requiring multiple security team reviews
src/**/security.py    @security-team @senior-backend-engineers @security-architects

# Secret management requiring both security and DevOps review
infrastructure/kubernetes/secrets/**    @security-team @devops-team @security-architects @infrastructure-leads

# Workflow files should be reviewed by DevOps and respective teams
.github/workflows/backend-ci.yml    @devops-team @backend-team @senior-backend-engineers
.github/workflows/frontend-ci.yml    @devops-team @frontend-team @senior-frontend-engineers
.github/workflows/security-scan.yml    @devops-team @security-team @security-architects

# Documentation changes should be reviewed by technical writers and respective teams
docs/**    @technical-writers @project-maintainers

# Test files should be reviewed by QA team and respective developers
src/**/tests/**    @qa-team @backend-team @frontend-team

# API specification files require review from API team and architects
src/**/api/**    @api-team @backend-team @senior-backend-engineers

# Performance-critical components require review from performance team
src/**/performance/**    @performance-team @senior-backend-engineers

# Data processing components require review from data team
src/**/data/**    @data-team @senior-backend-engineers @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/api/auth.ts
  src/web/src/api/auth.ts
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/api/data.ts
  src/web/src/api/data.ts
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/api/index.ts
  src/web/src/api/index.ts
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/api/metrics.ts
  src/web/src/api/metrics.ts
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/api/tasks.ts
  src/web/src/api/tasks.ts
Owners: @api-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/auth/MFAForm.tsx
  src/web/src/components/auth/MFAForm.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/auth/PasswordReset.tsx
  src/web/src/components/auth/PasswordReset.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/AlertDialog.tsx
  src/web/src/components/common/AlertDialog.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/Breadcrumbs.tsx
  src/web/src/components/common/Breadcrumbs.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/ConfirmDialog.tsx
  src/web/src/components/common/ConfirmDialog.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/ErrorBoundary.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/LoadingSpinner.tsx
  src/web/src/components/common/LoadingSpinner.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/PageHeader.tsx
  src/web/src/components/common/PageHeader.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/Pagination.tsx
  src/web/src/components/common/Pagination.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/SearchBar.tsx
  src/web/src/components/common/SearchBar.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/Sidebar.tsx
  src/web/src/components/common/Sidebar.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/StatusBadge.tsx
  src/web/src/components/common/StatusBadge.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/TableSkeleton.tsx
  src/web/src/components/common/TableSkeleton.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/common/Topbar.tsx
  src/web/src/components/common/Topbar.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/dashboard/ActiveTasksCard.tsx
  src/web/src/components/dashboard/ActiveTasksCard.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/dashboard/PerformanceChart.tsx
  src/web/src/components/dashboard/PerformanceChart.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/dashboard/QuickActions.tsx
  src/web/src/components/dashboard/QuickActions.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/dashboard/RecentAlerts.tsx
  src/web/src/components/dashboard/RecentAlerts.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/dashboard/SystemHealth.tsx
  src/web/src/components/dashboard/SystemHealth.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/dashboard/TaskPerformance.tsx
  src/web/src/components/dashboard/TaskPerformance.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/data/DataExplorer.tsx
  src/web/src/components/data/DataExplorer.tsx
Owners: @data-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/data/DataFilters.tsx
  src/web/src/components/data/DataFilters.tsx
Owners: @data-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/data/DataPreview.tsx
  src/web/src/components/data/DataPreview.tsx
Owners: @data-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/data/DataTable.tsx
  src/web/src/components/data/DataTable.tsx
Owners: @data-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/data/ExportOptions.tsx
  src/web/src/components/data/ExportOptions.tsx
Owners: @data-team, @senior-backend-engineers, @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/settings/NotificationSettings.tsx
  src/web/src/components/settings/NotificationSettings.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/settings/ProxySettings.tsx
  src/web/src/components/settings/ProxySettings.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/settings/SecuritySettings.tsx
  src/web/src/components/settings/SecuritySettings.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/settings/StorageSettings.tsx
  src/web/src/components/settings/StorageSettings.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/src/web/src/components/settings/SystemSettings.tsx
  src/web/src/components/settings/SystemSettings.tsx
Owners: @frontend-team, @senior-frontend-engineers
