Repository blitzy-public-samples/arkimedes-web-scrape-ggqkgy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-backend-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @security-architects, @scraping-team, @performance-team, @devops-team, @infrastructure-leads, @database-team, @data-architects, @technical-writers, @qa-team, @api-team, @data-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-maintainers 
# will be requested for review when someone opens a pull request.
*       @project-maintainers

# Backend service code ownership
src/backend/**    @backend-team @senior-backend-engineers

# Frontend application code ownership
src/web/**    @frontend-team @senior-frontend-engineers

# Security implementation with mandatory security team review
src/backend/src/api/core/security/**    @security-team @senior-backend-engineers @security-architects

# Web scraping engine with performance considerations
src/backend/src/scraper/**    @scraping-team @senior-backend-engineers @performance-team

# Infrastructure and deployment configuration
infrastructure/**    @devops-team @infrastructure-leads @security-architects

# Database migrations requiring data architect review
src/backend/src/db/migrations/**    @database-team @senior-backend-engineers @data-architects

# Security-specific files requiring multiple security team reviews
src/**/security.py    @security-team @senior-backend-engineers @security-architects

# Secret management requiring both security and DevOps review
infrastructure/kubernetes/secrets/**    @security-team @devops-team @security-architects @infrastructure-leads

# Workflow files should be reviewed by DevOps and respective teams
.github/workflows/backend-ci.yml    @devops-team @backend-team @senior-backend-engineers
.github/workflows/frontend-ci.yml    @devops-team @frontend-team @senior-frontend-engineers
.github/workflows/security-scan.yml    @devops-team @security-team @security-architects

# Documentation changes should be reviewed by technical writers and respective teams
docs/**    @technical-writers @project-maintainers

# Test files should be reviewed by QA team and respective developers
src/**/tests/**    @qa-team @backend-team @frontend-team

# API specification files require review from API team and architects
src/**/api/**    @api-team @backend-team @senior-backend-engineers

# Performance-critical components require review from performance team
src/**/performance/**    @performance-team @senior-backend-engineers

# Data processing components require review from data team
src/**/data/**    @data-team @senior-backend-engineers @data-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-maintainers

Add public-samples/arkimedes-web-scrape-ggqkgy/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-maintainers

Add public-samples/arkimedes-web-scrape-ggqkgy/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-maintainers

Add public-samples/arkimedes-web-scrape-ggqkgy/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-maintainers

Add public-samples/arkimedes-web-scrape-ggqkgy/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @backend-team, @senior-backend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team, @frontend-team, @senior-frontend-engineers

Add public-samples/arkimedes-web-scrape-ggqkgy/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @project-maintainers

Add public-samples/arkimedes-web-scrape-ggqkgy/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @security-team, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-maintainers

Add public-samples/arkimedes-web-scrape-ggqkgy/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-maintainers

Add public-samples/arkimedes-web-scrape-ggqkgy/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-maintainers

Add public-samples/arkimedes-web-scrape-ggqkgy/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-maintainers

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/docker/elasticsearch/Dockerfile
  infrastructure/docker/elasticsearch/Dockerfile
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/docker/fluentd/Dockerfile
  infrastructure/docker/fluentd/Dockerfile
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/docker/grafana/Dockerfile
  infrastructure/docker/grafana/Dockerfile
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/docker/kibana/Dockerfile
  infrastructure/docker/kibana/Dockerfile
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/docker/prometheus/Dockerfile
  infrastructure/docker/prometheus/Dockerfile
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/apps/backend/configmap.yaml
  infrastructure/kubernetes/apps/backend/configmap.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/apps/backend/deployment.yaml
  infrastructure/kubernetes/apps/backend/deployment.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/apps/backend/hpa.yaml
  infrastructure/kubernetes/apps/backend/hpa.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/apps/backend/service.yaml
  infrastructure/kubernetes/apps/backend/service.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/apps/frontend/configmap.yaml
  infrastructure/kubernetes/apps/frontend/configmap.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/apps/frontend/deployment.yaml
  infrastructure/kubernetes/apps/frontend/deployment.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/apps/frontend/hpa.yaml
  infrastructure/kubernetes/apps/frontend/hpa.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/apps/frontend/service.yaml
  infrastructure/kubernetes/apps/frontend/service.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/base/namespaces.yaml
  infrastructure/kubernetes/base/namespaces.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/base/network-policies.yaml
  infrastructure/kubernetes/base/network-policies.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/base/storage-classes.yaml
  infrastructure/kubernetes/base/storage-classes.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/cert-manager/values.yaml
  infrastructure/kubernetes/cert-manager/values.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/ingress/nginx/values.yaml
  infrastructure/kubernetes/ingress/nginx/values.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/logging/elasticsearch/values.yaml
  infrastructure/kubernetes/logging/elasticsearch/values.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/logging/fluentd/values.yaml
  infrastructure/kubernetes/logging/fluentd/values.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/logging/kibana/values.yaml
  infrastructure/kubernetes/logging/kibana/values.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/monitoring/grafana/values.yaml
  infrastructure/kubernetes/monitoring/grafana/values.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/monitoring/jaeger/values.yaml
  infrastructure/kubernetes/monitoring/jaeger/values.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/monitoring/prometheus/values.yaml
  infrastructure/kubernetes/monitoring/prometheus/values.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/secrets/vault/values.yaml
  infrastructure/kubernetes/secrets/vault/values.yaml
Owners: @security-team, @devops-team, @security-architects, @infrastructure-leads

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/kubernetes/service-mesh/istio/values.yaml
  infrastructure/kubernetes/service-mesh/istio/values.yaml
Owners: @devops-team, @infrastructure-leads, @security-architects

Add public-samples/arkimedes-web-scrape-ggqkgy/infrastructure/scripts/backup-databases.sh
  infrastructure/scripts/backup-databases.sh
Owners: @devops-team, @infrastructure-leads, @security-architects
